.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; 
}

.header {
    background-color: #007bff; 
    padding: 10px; 
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: bold;
    text-indent: 50px;
    margin-bottom: 0; 
}

.logout-link {
    color: rgb(0, 0, 0);
    text-decoration: underline; 
}

.toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0; 
    padding: 10px; 
}

.btn-custom {
    background-color: #3B82F6;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-custom:hover {
    background-color: #2563EB;
}

.table {
    margin-top: 0; 
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
}

.table-custom th, .table-custom td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.table-custom th {
    background-color: #F3F4F6;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.table-custom tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-custom tr:hover {
    background-color: #ddd;
}

.text-danger {
    color: #E02424 !important;
}

.text-success {
    color: #38A169 !important;
}
